@mixin btn($fs, $fw, $pd, $color) {
    font-size: $fs;
    font-weight: $fw;
    padding: $pd;
    color: $color;
    background-color: $color-green-0;
    border: 1px solid $color-green-0;
    border-radius: 0 3px 3px 0;
    height: 100%;
    line-height: 100%;
    display: block;
}