@import "./Helper/variables";
@import "./Base/reset";
@import "./Base/wrapper";

@import "./Helper/mixins";

@import "./Component/button";

@import "./Layout/header";
@import "./Layout/footer";

.header {
  .fiverr-business {
    a {
      color: $color-grey-2 !important;
      font-weight: $fw-bold-0;
    }
  }
}

.main-content {
  padding-bottom: 120px;

  .slider {
    .slider-fade {
      height: 680px;
      @include carouselBgImgProperties();
      .container {
        height: 100%;
        @include flexbox(row, center, center);

        .slider-search {
          width: 50%;
          h1 {
            @include text($color-white, $fs-5, $fw-bold-1);
            padding-bottom: $pd-2;

            span {
              font-style: italic;
              font-weight: 500;
            }
          }

          .slider-search__input {
            .input-group {
              height: 48px;
              position: relative;

              .search-logo {
                width: 16px;
                height: 16px;
                position: absolute;
                top: 10px;
                left: 16px;
                z-index: 10;

                svg {
                  width: 100%;
                  height: 100%;
                  fill: #95979d;
                }
              }

              input {
                @include inputSearch(
                  $fs-0,
                  8px 7px 7px 44px,
                  $color-grey-4,
                  5px 0 0 5px
                );
              }

              button {
                @include btn($fs-0, $fw-bold-1, 12px 24px, $color-white);

                &:hover {
                  background-color: $color-green-1;
                }
              }
            }
          }

          .slider-search__popular {
            @include text($color-white, $fs-2, $fw-bold-0);
            line-height: 27px;
            padding-top: 24px;
            display: flex;

            .popular-list {
              @include flexbox(row, space-between, center);
              width: 70%;
              margin-left: 12px;

              a {
                @include text($color-white, $fs-2, $fw-bold-0);
                background-color: transparent;
                line-height: 24px;
                padding: 5px 12px 4px 12px;
                border: 1px solid $color-white;
                border-radius: 40px;

                &:hover {
                  background-color: $color-white;
                  color: $color-grey-3;
                  text-decoration: none;
                }
              }
            }
          }
        }

        .slider-info {
          width: 50%;
        }
      }
    }

    .slide-1 {
      background-image: url(../img/home-page/slider-bg/bg-hero-1-andrea-1792-x1.jpg);

      .slider-info {
        p {
          color: $color-white;
          font-size: $fs-0;
          font-weight: $fw-normal;
          position: absolute;
          bottom: 32px;
          right: 70px;

          span {
            font-weight: $fw-bold-1;
          }
        }
      }
    }

    .slide-2 {
      background-image: url(../img/home-page/slider-bg/bg-hero-2-moon-1792-x1.jpg);

      .slider-info {
        p {
          color: $color-white;
          font-size: $fs-0;
          font-weight: $fw-normal;
          position: absolute;
          bottom: 32px;
          right: 70px;

          span {
            font-weight: $fw-bold-1;
          }
        }
      }
    }

    .slide-3 {
      background-image: url(../img/home-page/slider-bg/bg-hero-3-ritika-1792-x1.jpg);

      .slider-info {
        p {
          color: $color-white;
          font-size: $fs-0;
          font-weight: $fw-normal;
          position: absolute;
          bottom: 32px;
          right: 70px;

          span {
            font-weight: $fw-bold-1;
          }
        }
      }
    }

    .slide-4 {
      background-image: url(../img/home-page/slider-bg/bg-hero-4-zach-1792-x1.jpg);

      .slider-info {
        p {
          color: $color-white;
          font-size: $fs-0;
          font-weight: $fw-normal;
          position: absolute;
          bottom: 32px;
          right: 70px;

          span {
            font-weight: $fw-bold-1;
          }
        }
      }
    }

    .slide-5 {
      background-image: url(../img/home-page/slider-bg/bg-hero-5-gabrielle-1702-x1.jpg);

      .slider-info {
        p {
          color: $color-white;
          font-size: $fs-0;
          font-weight: $fw-normal;
          position: absolute;
          bottom: 32px;
          right: 70px;

          span {
            font-weight: $fw-bold-1;
          }
        }
      }
    }
  }

  .trusted {
    padding: 0 32px;
    margin-bottom: 96px;

    .container {
      @include flexbox(row, center, center);

      ul {
        height: 95px;
        @include flexbox(row, space-between, center);
        li {
          padding-left: 60px;
          height: 100%;
          line-height: 100%;
          @include flexbox(column, center, center);

          img {
            display: block;
          }
        }
      }
    }
  }

  .services {
    .container {
      padding: 0 32px;
      margin-bottom: 96px;

      h1 {
        @include text($color-grey-3, $fs-4, $fw-bold-1);
        padding-bottom: 32px;
        margin-bottom: 0;
      }

      .services-slick-slider {
        margin: -18px;
        position: relative;

        .slider-list {
          padding: 0 18px;

          .slider-item {
            object-fit: cover;
            height: 345px;
            width: 100%;
            border-radius: 4px;

            a {
              text-decoration: none;

              h1 {
                padding: 16px;
                font-size: 24px;
                line-height: 100%;
                color: $color-white;

                p {
                  font-size: $fs-0;
                  line-height: 20px;
                  font-weight: $fw-normal;
                  display: block;
                  color: $color-white;
                }
              }
            }
          }

          .logo-design {
            background-image: url(../img/home-page/service-list/logo-design-2x.jpg);
            @include carouselBgImgProperties();
          }

          .wordpress {
            background-image: url(../img/home-page/service-list/wordpress-2x.jpg);
            @include carouselBgImgProperties();
          }

          .voice-over {
            background-image: url(../img/home-page/service-list/voiceover-2x.jpg);
            @include carouselBgImgProperties();
          }

          .video-explainer {
            background-image: url(../img/home-page/service-list/animated-explainer-2x.jpg);
            @include carouselBgImgProperties();
          }

          .social-media {
            background-image: url(../img/home-page/service-list/social-2x.jpg);
            @include carouselBgImgProperties();
          }

          .seo {
            background-image: url(../img/home-page/service-list/seo-2x.jpg);
            @include carouselBgImgProperties();
          }

          .illustration {
            background-image: url(../img/home-page/service-list/illustration-2x.jpg);
            @include carouselBgImgProperties();
          }

          .translation {
            background-image: url(../img/home-page/service-list/translation-2x.jpg);
            @include carouselBgImgProperties();
          }

          .data-entry {
            background-image: url(../img/home-page/service-list/data-entry-2x.jpg);
            @include carouselBgImgProperties();
          }

          .book-cover {
            background-image: url(../img/home-page/service-list/book-covers-2x.jpg);
            @include carouselBgImgProperties();
          }
        }

        .slick-arrow {
          background-color: $color-white;
          color: $color-black;
          width: 48px;
          height: 48px;
          text-align: center;
          border-radius: 30px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          font-size: 20px;
          line-height: 100%;
          z-index: 10;
        }

        .slick-prev {
          @include absoluteCenter("top");
          left: -10px;
        }

        .slick-next {
          @include absoluteCenter("top");
          right: -10px;
        }
      }
    }
  }

  .advantages {
    background-color: #f1fdf7;
    margin-bottom: 96px;

    .container {
      padding: 96px 32px;
      @include flexbox(row, center, center);

      .advantages-info {
        width: 45%;
        padding: 0 16px;
        padding-right: 9%;
        letter-spacing: 1px;

        h1 {
          @include text($color-grey-3, $fs-4, $fw-bold-1);
          padding-bottom: 24px;
        }

        .advantages-info__list {
          margin-bottom: 0;
          li {
            padding-bottom: 24px;
            h2 {
              padding-bottom: 8px;
              margin: 0;
              @include text($color-grey-3, $fs-3, $fw-bold-1);
              display: flex;
              align-items: center;

              span {
                margin-right: 10px;
              }
            }

            p {
              @include text($color-grey-2, $fs-3, $fw-normal);
            }
          }

          .support {
            padding-bottom: 0;
            p {
              margin-bottom: 0;
            }
          }
        }
      }

      .advantages-video {
        width: 55%;
        height: 100%;

        .video-thumb {
          padding: 0 16px;
          position: relative;

          img {
            width: 100%;
            height: 100%;
          }

          .play-button {
            img {
              width: 80px;
              height: 80px;
            }

            @include absoluteCenter("both");
          }
        }
      }
    }
  }

  .explore {
    margin-bottom: 96px;

    .container {
      padding: 0 32px;

      h1 {
        @include text($color-grey-3, $fs-4, $fw-bold-1);
        padding-bottom: 24px;
        margin-bottom: 40px;
      }

      .explore-list {
        @include flexbox(row, left, top);
        flex-wrap: wrap;

        .list-item {
          width: 20%;
          padding: 0 10px 55px 10px;
          text-align: center;

          a {
            display: inline-block;
            position: relative;
            color: $color-black;
            text-decoration: none;
            img {
              display: block;
              width: 48px;
              height: 48px;
              margin: 0 auto 15px;
            }

            &::after {
              content: "";
              position: absolute;
              top: 45px;
              right: 50%;
              transform: translateX(50%);
              padding: 0 0 8px;
              width: 48px;
              border-bottom: 2px solid #c5c6c9;
              transition: border-color 0.2s ease-in-out, width 0.2s ease-in-out;
            }

            &:hover::after {
              border-color: $color-green-0;
              width: 88px;
            }
          }
        }

        .list-line-2 {
          padding-bottom: 0;
        }
      }
    }
  }

  .business {
    background-color: #0d084d;

    .container {
      padding: 96px 32px;
      margin-bottom: 96px;
      @include flexbox(row, center, center);

      .business-info {
        width: 45%;

        .business-icon {
          padding-bottom: 32px;
          @include flexbox(row, left, center);

          .fiverr-business-logo {
            margin-right: 10px;
          }

          span {
            @include text($color-white, 10px, $fw-bold-1);
            display: inline-block;
            background-color: #584aff;
            text-transform: uppercase;
            padding: 0 5px;
            border: 1px solid #584aff;
            border-radius: 10px;
          }
        }

        h1 {
          @include text($color-white, $fs-4, $fw-bold-1);
          padding-bottom: 24px;

          span {
            font-style: italic;
            font-weight: $fw-normal;
          }
        }

        p {
          @include text($color-white, $fs-3, $fw-normal);
          max-width: 450px;
          padding-bottom: 32px;
          margin-bottom: 0;
        }

        .business-list__detail {
          margin-bottom: 48px;
          li {
            padding-bottom: 12px;
            @include text($color-white, $fs-0, $fw-normal);

            svg {
              margin-right: 8px;
            }
          }
        }

        .business-button {
          @include btn($fs-0, $fw-bold-0, 12px 24px, $color-white);
          border-radius: 3px;
        }
      }

      .business-img {
        width: 55%;
        padding: 0 16px;

        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }

  .testimonials {
    .container {
      padding: 0 32px;
      margin-bottom: 96px;

      .testimonials-list {
        .testimonials-item {
          @include flexbox(row, center, center);

          .testimonials-item__video {
            width: 40%;
            position: relative;

            img {
              object-fit: cover;
              width: 100%;
            }

            &::after {
              content: "";
              display: inline-block;
              background-image: url(../img/home-page/testimonials-thumb/desktop-play-button.c1196d6.png);
              background-repeat: no-repeat;
              background-size: 80px;
              width: 80px;
              height: 80px;
              @include absoluteCenter("both");
            }
          }

          .testimonials-item__info {
            width: 60%;
            padding: 0 48px 0 64px;

            .heading-info {
              @include flexbox(row, left, center);
              width: 100%;
              padding-bottom: 16px;

              h2 {
                @include text($color-grey-1, 20px, $fw-normal);
                margin: 0;
                line-height: 100%;
                border-right: 1px solid #c5c6c9;
                padding-right: 12px;
              }

              span {
                display: inline-block;
                height: 36px;
                img {
                  height: 36px;
                  margin-left: 12px;
                  object-fit: cover;
                  display: inline-block;
                  vertical-align: middle;
                }
              }
            }

            p {
              color: #003912;
              font-size: 30px;
              font-style: italic;
              line-height: 44px;
            }
          }
        }
      }

      .slick-arrow {
        background-color: $color-white;
        color: $color-black;
        width: 48px;
        height: 48px;
        text-align: center;
        border-radius: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        font-size: 20px;
        line-height: 100%;
        z-index: 10;
      }

      .slick-prev {
        @include absoluteCenter("top");
        left: -25px;
      }

      .slick-next {
        @include absoluteCenter("top");
        right: -25px;
      }
    }
  }

  .logo-marker {
    .container {
      padding: 0 32px;
      margin-bottom: 96px;

      .logo-maker-banner {
        background-color: #4a73e8;
        @include flexbox(row, left, center);
        overflow: hidden;
        position: relative;

        .description {
          padding: 36px 0 36px 76px;
          z-index: 10;

          .logo-maker-logo {
            padding-bottom: 16px;

            svg {
              width: 188px;
              height: 26px;
            }
          }

          h2 {
            @include text($color-white, 34px, $fw-bold-1);

            span {
              font-style: italic;
            }
          }

          p {
            margin-bottom: 24px;
            color: $color-white;
            line-height: 24px;
          }

          a {
            text-decoration: none;

            button {
              @include btn($fs-0, $fw-bold-0, 12px 24px, #4a73e8);
              background-color: $color-white;
              border-radius: 3px;

              &:hover {
                background-color: #d4defb;
              }
            }
          }
        }

        .mobile-img {
          display: none;
        }

        .desktop-img {
          display: block;
          width: 100%;
          object-fit: contain;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          position: absolute;
          top: 0;
          bottom: 0;

          img {
            width: 100%;
            object-fit: cover;
            display: block;
          }
        }
      }
    }
  }

  .projects {
    background-color: #f5f5f5;

    .container {
      padding: 96px 32px;
      position: relative;
      margin-bottom: 96px;

      h2 {
        @include text($color-grey-3, $fs-4, $fw-bold-1);
        padding-bottom: 24px;
      }

      .see-more-btn {
        padding-top: 16px;
        position: absolute;
        top: 90px;
        right: 32px;
        text-decoration: none;

        svg {
          fill: #4a73e8;
        }
      }

      .projects-list {
        margin: 0 -18px;

        .project-list__item {
          width: 343px;
          padding: 0 18px 8px 18px;

          .item-detail {
            background-color: $color-white;
            border-radius: 4px;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);

            img {
              height: 237px;
              width: 100%;
              object-fit: cover;
              border-radius: 4px 4px 0 0;
              display: block;
              transition: opacity 0.3s ease-in-out;

              &:hover {
                opacity: 0.85;
              }
            }

            .item-info {
              padding: 16px 0 12px 16px;
              @include flexbox(row, left, center);

              a {
                padding: 0;

                img {
                  height: 40px;
                  width: 40px;
                  border-radius: 50%;
                }
              }

              span {
                padding-left: 12px;
                font-size: 14px;
                line-height: 21px;

                p {
                  margin: 0;
                  @include text($color-grey-3, $fs-2, $fw-bold-1);
                }

                a {
                  text-decoration: none;
                  color: #95979d;
                }
              }
            }
          }
        }

        .slick-arrow {
          background-color: $color-white;
          color: $color-black;
          width: 48px;
          height: 48px;
          text-align: center;
          border-radius: 30px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          font-size: 20px;
          line-height: 100%;
          z-index: 10;
        }

        .slick-prev {
          @include absoluteCenter("top");
          left: -5px;
        }

        .slick-next {
          @include absoluteCenter("top");
          right: -5px;
        }
      }
    }
  }

  .guides {
    .container {
      padding: 0 32px;
      margin-bottom: 96px;

      .guides-content {
        position: relative;

        h1 {
          margin: 0;
          padding-bottom: 24px;
          @include text($color-grey-3, $fs-4, $fw-bold-1);
        }

        .guides-see-more {
          padding-top: 8px;
          position: absolute;
          top: 0;
          right: 0;
          text-decoration: none;

          svg {
            fill: #4a73e8;
          }
        }

        .guides-list {
          @include flexbox(row, center, top);
          margin: 0 -16px;

          .guides-list-item {
            width: calc(100% / 3);
            padding: 0 16px;

            .guides-item__content {
              a {
                text-decoration: none;

                img {
                  display: block;
                  object-fit: cover;
                  width: 100%;
                  margin-bottom: 16px;
                  border-radius: 4px;
                  transition: opacity 0.3s ease-in-out;

                  &:hover {
                    opacity: 0.85;
                  }
                }

                h2 {
                  @include text($color-grey-3, $fs-3, $fw-bold-1);
                  margin-bottom: 2px;
                }

                p {
                  @include text($color-grey-1, $fs-0, $fw-normal);
                }
              }
            }
          }
        }
      }
    }
  }

  .signup {
    .container {
      padding: 0 32px;

      .signup-content {
        padding: 120px 96px;
        overflow: hidden;
        position: relative;
        display: flex;

        img {
          width: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          border-radius: 5px;
        }

        .signup-content {
          z-index: 10;
          display: block;
          padding: 0;

          h1 {
            @include text($color-white, $fs-5, $fw-bold-1);
            max-width: 630px;
            padding-bottom: 40px;
            margin: 0;

            span {
              font-style: italic;
              font-weight: 500;
            }
          }

          a {
            text-decoration: none;
            display: inline-block;
            padding: 12px 24px;
            background-color: $color-green-0;
            border: 1px solid $color-green-0;
            border-radius: 3px;
            @include text($color-white, $fs-0, $fw-bold-0);

            &:hover {
              background-color: $color-green-1;
              border-color: $color-green-1;
            }
          }
        }
      }
    }
  }
}
