* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-stretch: normal;
  color: #62646a;
  background-color: #fff;
  position: relative;
  width: 100%;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
}

.max-width-wrapper {
  max-width: 1400px;
  margin: auto;
}

.header .header-container {
  position: fixed;
  z-index: 100;
  background-color: #fff;
  width: 100%;
}

.header .header-container .main-navbar {
  border-bottom: 1px solid #e4e5e7;
}

.header .header-container .main-navbar .myNavBar nav {
  height: 80px;
}

.header .header-container .main-navbar .myNavBar nav .navbar-brand {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
}

.header .header-container .main-navbar .myNavBar nav form {
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
}

.header .header-container .main-navbar .myNavBar nav form .input-group {
  height: 34px;
  position: relative;
}

.header .header-container .main-navbar .myNavBar nav form .input-group .search-logo {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 10;
}

.header .header-container .main-navbar .myNavBar nav form .input-group .search-logo svg {
  width: 100%;
  height: 100%;
  vertical-align: baseline;
  fill: #95979d;
}

.header .header-container .main-navbar .myNavBar nav form .input-group input {
  font-size: 15px;
  padding: 8px 7px 7px 28px;
  border: 1px solid #e4e5e7;
  border-radius: 3px 0 0 3px;
  height: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 5;
}

.header .header-container .main-navbar .myNavBar nav form .input-group input:focus, .header .header-container .main-navbar .myNavBar nav form .input-group input:hover {
  border-color: #95979d;
}

.header .header-container .main-navbar .myNavBar nav form .input-group button {
  font-size: 14px;
  font-weight: 700;
  padding: 8px 16px;
  color: #fff;
  background-color: #1dbf73;
  border: 1px solid #1dbf73;
  border-radius: 0 3px 3px 0;
  height: 100%;
  line-height: 100%;
  display: block;
}

.header .header-container .main-navbar .myNavBar nav form .input-group button:hover {
  background-color: #19a463;
}

.header .header-container .main-navbar .myNavBar nav .navbar-nav {
  width: 100%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.header .header-container .main-navbar .myNavBar nav .navbar-nav .nav-item {
  padding: 0 5px;
}

.header .header-container .main-navbar .myNavBar nav .navbar-nav .nav-item .nav-link {
  color: #62646a;
  font-size: 16px;
  font-weight: 600;
}

.header .header-container .main-navbar .myNavBar nav .navbar-nav .nav-item .nav-link svg {
  width: 16px;
  height: 16px;
  position: relative;
  top: -1.5px;
}

.header .header-container .main-navbar .myNavBar nav .navbar-nav .nav-item .nav-link:hover {
  color: #1dbf73;
}

.header .header-container .main-navbar .myNavBar nav .navbar-nav .nav-item .nav-link:hover svg {
  fill: #1dbf73;
}

.header .header-container .main-navbar .myNavBar nav .navbar-nav .nav-item .nav-link .join-button {
  font-size: 14px;
  font-weight: 700;
  padding: 6px 20px;
  color: #1dbf73;
  background-color: #1dbf73;
  border: 1px solid #1dbf73;
  border-radius: 0 3px 3px 0;
  height: 100%;
  line-height: 100%;
  display: block;
  background-color: #fff;
  border: 1px solid #1dbf73;
  border-radius: 5px;
}

.header .header-container .main-navbar .myNavBar nav .navbar-nav .nav-item .nav-link .join-button:hover {
  background-color: #19a463;
  color: #fff;
}

.header .header-container .sub-navbar {
  border-bottom: 1px solid #e4e5e7;
}

.header .header-container .sub-navbar .myNavBar {
  height: 33px;
}

.header .header-container .sub-navbar .myNavBar .subnav-list {
  height: 100%;
  padding: 0 30px 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-container .sub-navbar .myNavBar .subnav-list a {
  color: #62646a;
  font-size: 16px;
  font-weight: 400;
}

.footer {
  border-top: 1px solid #e4e5e7;
}

.footer .container {
  padding: 64px 32px 24px 32px;
}

.footer .container .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  border-bottom: 1px solid #e4e5e7;
}

.footer .container .footer-list .list-item {
  width: 20%;
}

.footer .container .footer-list .list-item h1 {
  color: #404145;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 20px;
  margin: 0;
}

.footer .container .footer-list .list-item li {
  padding-bottom: 16px;
}

.footer .container .footer-list .list-item li a {
  color: #7a7d85;
  font-size: 16px;
  font-weight: 400;
}

.footer .container .footer-list .list-item li a span {
  display: block;
  color: #b5b6ba;
  font-size: 14px;
  font-weight: 400;
}

.footer .container .footer-list .more {
  padding-bottom: 24px;
}

.footer .container .footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 24px;
  word-spacing: 1px;
  padding-top: 20px;
}

.footer .container .footer-icon .footer-icon__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer .container .footer-icon .footer-icon__left .fiverr-logo svg {
  width: 77px;
  height: 23px;
}

.footer .container .footer-icon .footer-icon__left .copyrights p {
  margin: 0 0 0 24px;
  color: #b5b6ba;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.footer .container .footer-icon .footer-icon__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .footer-icon .footer-icon__right .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.footer .container .footer-icon .footer-icon__right .social ul li {
  margin-right: 24px;
}

.footer .container .footer-icon .footer-icon__right .social ul li i {
  color: #7a7d85;
  width: 20px;
  height: 20px;
}

.footer .container .footer-icon .footer-icon__right .selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .footer-icon .footer-icon__right .selection .selection-item {
  margin-left: 24px;
  color: #7a7d85;
}

.footer .container .footer-icon .footer-icon__right .selection .selection-item svg {
  fill: #7a7d85;
}

.header .fiverr-business a {
  color: #62646a !important;
  font-weight: 600;
}

.main-content {
  padding-bottom: 120px;
}

.main-content .slider .slider-fade {
  height: 680px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content .slider .slider-fade .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .slider .slider-fade .container .slider-search {
  width: 50%;
}

.main-content .slider .slider-fade .container .slider-search h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 24px;
}

.main-content .slider .slider-fade .container .slider-search h1 span {
  font-style: italic;
  font-weight: 500;
}

.main-content .slider .slider-fade .container .slider-search .slider-search__input .input-group {
  height: 48px;
  position: relative;
}

.main-content .slider .slider-fade .container .slider-search .slider-search__input .input-group .search-logo {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  left: 16px;
  z-index: 10;
}

.main-content .slider .slider-fade .container .slider-search .slider-search__input .input-group .search-logo svg {
  width: 100%;
  height: 100%;
  fill: #95979d;
}

.main-content .slider .slider-fade .container .slider-search .slider-search__input .input-group input {
  font-size: 16px;
  padding: 8px 7px 7px 44px;
  border: 1px solid #e4e5e7;
  border-radius: 5px 0 0 5px;
  height: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 5;
}

.main-content .slider .slider-fade .container .slider-search .slider-search__input .input-group button {
  font-size: 16px;
  font-weight: 700;
  padding: 12px 24px;
  color: #fff;
  background-color: #1dbf73;
  border: 1px solid #1dbf73;
  border-radius: 0 3px 3px 0;
  height: 100%;
  line-height: 100%;
  display: block;
}

.main-content .slider .slider-fade .container .slider-search .slider-search__input .input-group button:hover {
  background-color: #19a463;
}

.main-content .slider .slider-fade .container .slider-search .slider-search__popular {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 27px;
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .slider .slider-fade .container .slider-search .slider-search__popular .popular-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin-left: 12px;
}

.main-content .slider .slider-fade .container .slider-search .slider-search__popular .popular-list a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  line-height: 24px;
  padding: 5px 12px 4px 12px;
  border: 1px solid #fff;
  border-radius: 40px;
}

.main-content .slider .slider-fade .container .slider-search .slider-search__popular .popular-list a:hover {
  background-color: #fff;
  color: #404145;
  text-decoration: none;
}

.main-content .slider .slider-fade .container .slider-info {
  width: 50%;
}

.main-content .slider .slide-1 {
  background-image: url(../img/home-page/slider-bg/bg-hero-1-andrea-1792-x1.jpg);
}

.main-content .slider .slide-1 .slider-info p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  bottom: 32px;
  right: 70px;
}

.main-content .slider .slide-1 .slider-info p span {
  font-weight: 700;
}

.main-content .slider .slide-2 {
  background-image: url(../img/home-page/slider-bg/bg-hero-2-moon-1792-x1.jpg);
}

.main-content .slider .slide-2 .slider-info p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  bottom: 32px;
  right: 70px;
}

.main-content .slider .slide-2 .slider-info p span {
  font-weight: 700;
}

.main-content .slider .slide-3 {
  background-image: url(../img/home-page/slider-bg/bg-hero-3-ritika-1792-x1.jpg);
}

.main-content .slider .slide-3 .slider-info p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  bottom: 32px;
  right: 70px;
}

.main-content .slider .slide-3 .slider-info p span {
  font-weight: 700;
}

.main-content .slider .slide-4 {
  background-image: url(../img/home-page/slider-bg/bg-hero-4-zach-1792-x1.jpg);
}

.main-content .slider .slide-4 .slider-info p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  bottom: 32px;
  right: 70px;
}

.main-content .slider .slide-4 .slider-info p span {
  font-weight: 700;
}

.main-content .slider .slide-5 {
  background-image: url(../img/home-page/slider-bg/bg-hero-5-gabrielle-1702-x1.jpg);
}

.main-content .slider .slide-5 .slider-info p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  bottom: 32px;
  right: 70px;
}

.main-content .slider .slide-5 .slider-info p span {
  font-weight: 700;
}

.main-content .trusted {
  padding: 0 32px;
  margin-bottom: 96px;
}

.main-content .trusted .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .trusted .container ul {
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .trusted .container ul li {
  padding-left: 60px;
  height: 100%;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .trusted .container ul li img {
  display: block;
}

.main-content .services .container {
  padding: 0 32px;
  margin-bottom: 96px;
}

.main-content .services .container h1 {
  color: #404145;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 32px;
  margin-bottom: 0;
}

.main-content .services .container .services-slick-slider {
  margin: -18px;
  position: relative;
}

.main-content .services .container .services-slick-slider .slider-list {
  padding: 0 18px;
}

.main-content .services .container .services-slick-slider .slider-list .slider-item {
  -o-object-fit: cover;
     object-fit: cover;
  height: 345px;
  width: 100%;
  border-radius: 4px;
}

.main-content .services .container .services-slick-slider .slider-list .slider-item a {
  text-decoration: none;
}

.main-content .services .container .services-slick-slider .slider-list .slider-item a h1 {
  padding: 16px;
  font-size: 24px;
  line-height: 100%;
  color: #fff;
}

.main-content .services .container .services-slick-slider .slider-list .slider-item a h1 p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  display: block;
  color: #fff;
}

.main-content .services .container .services-slick-slider .slider-list .logo-design {
  background-image: url(../img/home-page/service-list/logo-design-2x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content .services .container .services-slick-slider .slider-list .wordpress {
  background-image: url(../img/home-page/service-list/wordpress-2x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content .services .container .services-slick-slider .slider-list .voice-over {
  background-image: url(../img/home-page/service-list/voiceover-2x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content .services .container .services-slick-slider .slider-list .video-explainer {
  background-image: url(../img/home-page/service-list/animated-explainer-2x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content .services .container .services-slick-slider .slider-list .social-media {
  background-image: url(../img/home-page/service-list/social-2x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content .services .container .services-slick-slider .slider-list .seo {
  background-image: url(../img/home-page/service-list/seo-2x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content .services .container .services-slick-slider .slider-list .illustration {
  background-image: url(../img/home-page/service-list/illustration-2x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content .services .container .services-slick-slider .slider-list .translation {
  background-image: url(../img/home-page/service-list/translation-2x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content .services .container .services-slick-slider .slider-list .data-entry {
  background-image: url(../img/home-page/service-list/data-entry-2x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content .services .container .services-slick-slider .slider-list .book-cover {
  background-image: url(../img/home-page/service-list/book-covers-2x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content .services .container .services-slick-slider .slick-arrow {
  background-color: #fff;
  color: #222325;
  width: 48px;
  height: 48px;
  text-align: center;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 20px;
  line-height: 100%;
  z-index: 10;
}

.main-content .services .container .services-slick-slider .slick-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -10px;
}

.main-content .services .container .services-slick-slider .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -10px;
}

.main-content .advantages {
  background-color: #f1fdf7;
  margin-bottom: 96px;
}

.main-content .advantages .container {
  padding: 96px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .advantages .container .advantages-info {
  width: 45%;
  padding: 0 16px;
  padding-right: 9%;
  letter-spacing: 1px;
}

.main-content .advantages .container .advantages-info h1 {
  color: #404145;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 24px;
}

.main-content .advantages .container .advantages-info .advantages-info__list {
  margin-bottom: 0;
}

.main-content .advantages .container .advantages-info .advantages-info__list li {
  padding-bottom: 24px;
}

.main-content .advantages .container .advantages-info .advantages-info__list li h2 {
  padding-bottom: 8px;
  margin: 0;
  color: #404145;
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .advantages .container .advantages-info .advantages-info__list li h2 span {
  margin-right: 10px;
}

.main-content .advantages .container .advantages-info .advantages-info__list li p {
  color: #62646a;
  font-size: 18px;
  font-weight: 400;
}

.main-content .advantages .container .advantages-info .advantages-info__list .support {
  padding-bottom: 0;
}

.main-content .advantages .container .advantages-info .advantages-info__list .support p {
  margin-bottom: 0;
}

.main-content .advantages .container .advantages-video {
  width: 55%;
  height: 100%;
}

.main-content .advantages .container .advantages-video .video-thumb {
  padding: 0 16px;
  position: relative;
}

.main-content .advantages .container .advantages-video .video-thumb img {
  width: 100%;
  height: 100%;
}

.main-content .advantages .container .advantages-video .video-thumb .play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-content .advantages .container .advantages-video .video-thumb .play-button img {
  width: 80px;
  height: 80px;
}

.main-content .explore {
  margin-bottom: 96px;
}

.main-content .explore .container {
  padding: 0 32px;
}

.main-content .explore .container h1 {
  color: #404145;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 24px;
  margin-bottom: 40px;
}

.main-content .explore .container .explore-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-content .explore .container .explore-list .list-item {
  width: 20%;
  padding: 0 10px 55px 10px;
  text-align: center;
}

.main-content .explore .container .explore-list .list-item a {
  display: inline-block;
  position: relative;
  color: #222325;
  text-decoration: none;
}

.main-content .explore .container .explore-list .list-item a img {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto 15px;
}

.main-content .explore .container .explore-list .list-item a::after {
  content: "";
  position: absolute;
  top: 45px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  padding: 0 0 8px;
  width: 48px;
  border-bottom: 2px solid #c5c6c9;
  -webkit-transition: border-color 0.2s ease-in-out, width 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, width 0.2s ease-in-out;
}

.main-content .explore .container .explore-list .list-item a:hover::after {
  border-color: #1dbf73;
  width: 88px;
}

.main-content .explore .container .explore-list .list-line-2 {
  padding-bottom: 0;
}

.main-content .business {
  background-color: #0d084d;
}

.main-content .business .container {
  padding: 96px 32px;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .business .container .business-info {
  width: 45%;
}

.main-content .business .container .business-info .business-icon {
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .business .container .business-info .business-icon .fiverr-business-logo {
  margin-right: 10px;
}

.main-content .business .container .business-info .business-icon span {
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  display: inline-block;
  background-color: #584aff;
  text-transform: uppercase;
  padding: 0 5px;
  border: 1px solid #584aff;
  border-radius: 10px;
}

.main-content .business .container .business-info h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 24px;
}

.main-content .business .container .business-info h1 span {
  font-style: italic;
  font-weight: 400;
}

.main-content .business .container .business-info p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  max-width: 450px;
  padding-bottom: 32px;
  margin-bottom: 0;
}

.main-content .business .container .business-info .business-list__detail {
  margin-bottom: 48px;
}

.main-content .business .container .business-info .business-list__detail li {
  padding-bottom: 12px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.main-content .business .container .business-info .business-list__detail li svg {
  margin-right: 8px;
}

.main-content .business .container .business-info .business-button {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  color: #fff;
  background-color: #1dbf73;
  border: 1px solid #1dbf73;
  border-radius: 0 3px 3px 0;
  height: 100%;
  line-height: 100%;
  display: block;
  border-radius: 3px;
}

.main-content .business .container .business-img {
  width: 55%;
  padding: 0 16px;
}

.main-content .business .container .business-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.main-content .testimonials .container {
  padding: 0 32px;
  margin-bottom: 96px;
}

.main-content .testimonials .container .testimonials-list .testimonials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .testimonials .container .testimonials-list .testimonials-item .testimonials-item__video {
  width: 40%;
  position: relative;
}

.main-content .testimonials .container .testimonials-list .testimonials-item .testimonials-item__video img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.main-content .testimonials .container .testimonials-list .testimonials-item .testimonials-item__video::after {
  content: "";
  display: inline-block;
  background-image: url(../img/home-page/testimonials-thumb/desktop-play-button.c1196d6.png);
  background-repeat: no-repeat;
  background-size: 80px;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-content .testimonials .container .testimonials-list .testimonials-item .testimonials-item__info {
  width: 60%;
  padding: 0 48px 0 64px;
}

.main-content .testimonials .container .testimonials-list .testimonials-item .testimonials-item__info .heading-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 16px;
}

.main-content .testimonials .container .testimonials-list .testimonials-item .testimonials-item__info .heading-info h2 {
  color: #7a7d85;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  line-height: 100%;
  border-right: 1px solid #c5c6c9;
  padding-right: 12px;
}

.main-content .testimonials .container .testimonials-list .testimonials-item .testimonials-item__info .heading-info span {
  display: inline-block;
  height: 36px;
}

.main-content .testimonials .container .testimonials-list .testimonials-item .testimonials-item__info .heading-info span img {
  height: 36px;
  margin-left: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
  vertical-align: middle;
}

.main-content .testimonials .container .testimonials-list .testimonials-item .testimonials-item__info p {
  color: #003912;
  font-size: 30px;
  font-style: italic;
  line-height: 44px;
}

.main-content .testimonials .container .slick-arrow {
  background-color: #fff;
  color: #222325;
  width: 48px;
  height: 48px;
  text-align: center;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 20px;
  line-height: 100%;
  z-index: 10;
}

.main-content .testimonials .container .slick-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -25px;
}

.main-content .testimonials .container .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -25px;
}

.main-content .logo-marker .container {
  padding: 0 32px;
  margin-bottom: 96px;
}

.main-content .logo-marker .container .logo-maker-banner {
  background-color: #4a73e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

.main-content .logo-marker .container .logo-maker-banner .description {
  padding: 36px 0 36px 76px;
  z-index: 10;
}

.main-content .logo-marker .container .logo-maker-banner .description .logo-maker-logo {
  padding-bottom: 16px;
}

.main-content .logo-marker .container .logo-maker-banner .description .logo-maker-logo svg {
  width: 188px;
  height: 26px;
}

.main-content .logo-marker .container .logo-maker-banner .description h2 {
  color: #fff;
  font-size: 34px;
  font-weight: 700;
}

.main-content .logo-marker .container .logo-maker-banner .description h2 span {
  font-style: italic;
}

.main-content .logo-marker .container .logo-maker-banner .description p {
  margin-bottom: 24px;
  color: #fff;
  line-height: 24px;
}

.main-content .logo-marker .container .logo-maker-banner .description a {
  text-decoration: none;
}

.main-content .logo-marker .container .logo-maker-banner .description a button {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  color: #4a73e8;
  background-color: #1dbf73;
  border: 1px solid #1dbf73;
  border-radius: 0 3px 3px 0;
  height: 100%;
  line-height: 100%;
  display: block;
  background-color: #fff;
  border-radius: 3px;
}

.main-content .logo-marker .container .logo-maker-banner .description a button:hover {
  background-color: #d4defb;
}

.main-content .logo-marker .container .logo-maker-banner .mobile-img {
  display: none;
}

.main-content .logo-marker .container .logo-maker-banner .desktop-img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
}

.main-content .logo-marker .container .logo-maker-banner .desktop-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.main-content .projects {
  background-color: #f5f5f5;
}

.main-content .projects .container {
  padding: 96px 32px;
  position: relative;
  margin-bottom: 96px;
}

.main-content .projects .container h2 {
  color: #404145;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 24px;
}

.main-content .projects .container .see-more-btn {
  padding-top: 16px;
  position: absolute;
  top: 90px;
  right: 32px;
  text-decoration: none;
}

.main-content .projects .container .see-more-btn svg {
  fill: #4a73e8;
}

.main-content .projects .container .projects-list {
  margin: 0 -18px;
}

.main-content .projects .container .projects-list .project-list__item {
  width: 343px;
  padding: 0 18px 8px 18px;
}

.main-content .projects .container .projects-list .project-list__item .item-detail {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
}

.main-content .projects .container .projects-list .project-list__item .item-detail img {
  height: 237px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px 4px 0 0;
  display: block;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.main-content .projects .container .projects-list .project-list__item .item-detail img:hover {
  opacity: 0.85;
}

.main-content .projects .container .projects-list .project-list__item .item-detail .item-info {
  padding: 16px 0 12px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .projects .container .projects-list .project-list__item .item-detail .item-info a {
  padding: 0;
}

.main-content .projects .container .projects-list .project-list__item .item-detail .item-info a img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.main-content .projects .container .projects-list .project-list__item .item-detail .item-info span {
  padding-left: 12px;
  font-size: 14px;
  line-height: 21px;
}

.main-content .projects .container .projects-list .project-list__item .item-detail .item-info span p {
  margin: 0;
  color: #404145;
  font-size: 14px;
  font-weight: 700;
}

.main-content .projects .container .projects-list .project-list__item .item-detail .item-info span a {
  text-decoration: none;
  color: #95979d;
}

.main-content .projects .container .projects-list .slick-arrow {
  background-color: #fff;
  color: #222325;
  width: 48px;
  height: 48px;
  text-align: center;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 20px;
  line-height: 100%;
  z-index: 10;
}

.main-content .projects .container .projects-list .slick-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -5px;
}

.main-content .projects .container .projects-list .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -5px;
}

.main-content .guides .container {
  padding: 0 32px;
  margin-bottom: 96px;
}

.main-content .guides .container .guides-content {
  position: relative;
}

.main-content .guides .container .guides-content h1 {
  margin: 0;
  padding-bottom: 24px;
  color: #404145;
  font-size: 32px;
  font-weight: 700;
}

.main-content .guides .container .guides-content .guides-see-more {
  padding-top: 8px;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
}

.main-content .guides .container .guides-content .guides-see-more svg {
  fill: #4a73e8;
}

.main-content .guides .container .guides-content .guides-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  margin: 0 -16px;
}

.main-content .guides .container .guides-content .guides-list .guides-list-item {
  width: calc(100% / 3);
  padding: 0 16px;
}

.main-content .guides .container .guides-content .guides-list .guides-list-item .guides-item__content a {
  text-decoration: none;
}

.main-content .guides .container .guides-content .guides-list .guides-list-item .guides-item__content a img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 4px;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.main-content .guides .container .guides-content .guides-list .guides-list-item .guides-item__content a img:hover {
  opacity: 0.85;
}

.main-content .guides .container .guides-content .guides-list .guides-list-item .guides-item__content a h2 {
  color: #404145;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 2px;
}

.main-content .guides .container .guides-content .guides-list .guides-list-item .guides-item__content a p {
  color: #7a7d85;
  font-size: 16px;
  font-weight: 400;
}

.main-content .signup .container {
  padding: 0 32px;
}

.main-content .signup .container .signup-content {
  padding: 120px 96px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .signup .container .signup-content img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5px;
}

.main-content .signup .container .signup-content .signup-content {
  z-index: 10;
  display: block;
  padding: 0;
}

.main-content .signup .container .signup-content .signup-content h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  max-width: 630px;
  padding-bottom: 40px;
  margin: 0;
}

.main-content .signup .container .signup-content .signup-content h1 span {
  font-style: italic;
  font-weight: 500;
}

.main-content .signup .container .signup-content .signup-content a {
  text-decoration: none;
  display: inline-block;
  padding: 12px 24px;
  background-color: #1dbf73;
  border: 1px solid #1dbf73;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.main-content .signup .container .signup-content .signup-content a:hover {
  background-color: #19a463;
  border-color: #19a463;
}
/*# sourceMappingURL=style.css.map */