.footer {
  border-top: 1px solid $color-grey-4;

  .container {
    padding: 64px 32px 24px 32px;

    .footer-list {
      @include flexbox(row, left, top);
      border-bottom: 1px solid $color-grey-4;

      .list-item {
        width: 20%;

        h1 {
          @include text($color-grey-3, $fs-0, $fw-bold-1);
          padding-bottom: 20px;
          margin: 0;
        }

        li {
          padding-bottom: 16px;

          a {
            @include text($color-grey-1, $fs-0, $fw-normal);

            span {
              display: block;
              @include text($color-grey-0, $fs-2, $fw-normal);
            }
          }
        }
      }

      .more {
        padding-bottom: 24px;
      }
    }

    .footer-icon {
      @include flexbox(row, space-between, center);
      font-size: $fs-0;
      line-height: 24px;
      word-spacing: 1px;
      padding-top: 20px;

      .footer-icon__left {
        @include flexbox(row, space-between, center);
        position: relative;

        .fiverr-logo {
          svg {
            width: 77px;
            height: 23px;
          }
        }

        .copyrights {
          p {
            margin: 0 0 0 24px;
            @include text($color-grey-0, $fs-2, $fw-normal);
            line-height: 21px;
          }
        }
      }

      .footer-icon__right {
        @include flexbox(row, space-between, center);

        .social {
          ul {
            @include flexbox(row, left, center);
            margin: 0;

            li {
              margin-right: 24px;

              i {
                color: $color-grey-1;
                width: 20px;
                height: 20px;
              }
            }
          }
        }

        .selection {
          @include flexbox(row, left, center);

          .selection-item {
            margin-left: 24px;
            color: $color-grey-1;

            svg {
              fill: $color-grey-1;
            }
          }
        }
      }
    }
  }
}
