.header {
  .header-container{
    position: fixed;
    z-index: 100;
    background-color: $color-white;
    width: 100%;

    .main-navbar {
      border-bottom: 1px solid $color-grey-4;
  
      .myNavBar {
        nav {
          height: 80px;
  
          .navbar-brand {
            flex-grow: 1;
            padding: 0;
          }
  
          form {
            flex-grow: 6;
  
            .input-group {
              height: 34px;
              position: relative;
  
              .search-logo {
                width: 16px;
                height: 16px;
                position: absolute;
                top: 8px;
                left: 8px;
                z-index: 10;
  
                svg {
                  width: 100%;
                  height: 100%;
                  vertical-align: baseline;
                  fill: #95979d;
                }
              }
  
              input {
                @include inputSearch($fs-1, 8px 7px 7px 28px, $color-grey-4, 3px 0 0 3px);
                &:focus,
                &:hover {
                  border-color: #95979d;
                }
              }
  
              button {
                @include btn($fs-2, $fw-bold-1, $pd-0 $pd-1, $color-white);
  
                &:hover {
                  background-color: $color-green-1;
                }
              }
            }
          }
  
          .navbar-nav {
            width: 100%;
            justify-content: right;
  
            .nav-item {
              padding: 0 5px;
              .nav-link {
                @include text($color-grey-2, $fs-0, $fw-bold-0);
  
                svg {
                  width: 16px;
                  height: 16px;
                  position: relative;
                  top: -1.5px;
                }
  
                &:hover {
                  color: $color-green-0;
                  svg {
                    fill: $color-green-0;
                  }
                }
  
                .join-button {
                  @include btn($fs-2, $fw-bold-1, 6px 20px, $color-green-0);
                  background-color: $color-white;
                  border: 1px solid $color-green-0;
                  border-radius: 5px;
  
                  &:hover {
                    background-color: $color-green-1;
                    color: $color-white;
                  }
                }
              }
            }
          }
        }
      }
    }
  
    .sub-navbar {
      border-bottom: 1px solid $color-grey-4;
      .myNavBar {
        height: 33px;
  
        .subnav-list {
          height: 100%;
          padding: 0 30px 0 16px;
          @include flexbox(row, space-between, center);
  
          a {
            @include text($color-grey-2, $fs-0, $fw-normal);
          }
        }
      }
    }
  }
}
