* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $fs-0;
    line-height: 24px;
    font-weight: $fw-normal;
    font-stretch: normal;
    color: $color-grey-2;
    background-color: $color-white;
    position: relative;
    width: 100%;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1400px;
}