@mixin text($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin inputSearch ($fs, $pd, $borderColor, $borderRadius) {
    font-size: $fs;
    padding: $pd;
    border: 1px solid $borderColor;
    border-radius: $borderRadius;
    height: 100%;
    box-shadow: none;
    z-index: 5;
}

@mixin absoluteCenter ($direction) {
    position: absolute;

    @if $direction=="left" {
        left: 50%;
        transform: translateX(-50%);
    }

    @if $direction=="top" {
        top: 50%;
        transform: translateY(-50%);
    }

    @if $direction == "both" {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@mixin carouselBgImgProperties() {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin flexbox($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}