// variable color
$color-white: #fff;
$color-black: #222325;
$color-green-0: #1dbf73;
$color-green-1: #19a463;
$color-grey-0: #b5b6ba;
$color-grey-1: #7a7d85;
$color-grey-2: #62646a;
$color-grey-3: #404145;
$color-grey-4: #e4e5e7;


// variable font-size
$fs-0: 16px; //default
$fs-1: 15px;
$fs-2: 14px;
$fs-3: 18px;
$fs-4: 32px;
$fs-5: 48px;


// variable padding
$pd-0: 8px;
$pd-1: 16px;
$pd-2: 24px;
$pd-3: 32px;


// variable margin


// variable font-weight
$fw-light: 300;
$fw-normal: 400;
$fw-bold-0: 600;
$fw-bold-1: 700;


